# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [2]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [3]:
import numpy as np

In [4]:
data = pd.read_csv('customer_product_sales.csv')

In [5]:
data = data.sort_values('CustomerID')

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [6]:
prod = data[['CustomerID', 'Quantity', 'ProductID']]
prod = prod.groupby(['CustomerID', 'ProductID'])['Quantity'].sum()

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [7]:
product_rec = pd.pivot_table(data, values='Quantity', columns=['CustomerID'], index=['ProductID'], aggfunc='sum').fillna(0)

In [8]:
product_rec = product_rec.T

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [9]:
eucledian = squareform(pdist(product_rec, 'euclidean'))

In [10]:
eucledian.shape

(1000, 1000)

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [11]:
euc = pd.DataFrame(eucledian)
euc.columns= list(data['CustomerID'].unique())
euc.index= list(data['CustomerID'].unique())

In [12]:
euc.head()

,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
33,0.000000,11.916375,10.488088,11.224972,11.401754,11.090537,12.409674,11.045361,11.269428,11.489125,...,206.871941,213.180675,225.656819,198.232187,230.913404,220.501701,217.188858,228.628520,239.000000,229.773802
200,11.916375,0.000000,11.747340,12.083046,12.569805,12.288206,12.165525,12.083046,11.874342,12.000000,...,206.310446,212.635839,224.697575,197.139544,230.952376,220.202180,215.728997,228.010965,239.037654,229.704158
264,10.488088,11.747340,0.000000,11.489125,11.224972,11.445523,12.000000,11.401754,11.180340,11.747340,...,206.387984,212.946003,225.435135,197.600607,230.371439,219.136943,216.612557,228.081126,238.266657,229.773802
356,11.224972,12.083046,11.489125,0.000000,12.083046,11.789826,12.328828,11.135529,11.958261,12.165525,...,206.649462,213.082144,225.452878,197.494304,231.038958,219.952268,217.437347,228.098663,238.493186,229.464594
412,11.401754,12.569805,11.224972,12.083046,0.000000,11.704700,12.328828,11.135529,11.789826,11.747340,...,206.900942,211.679002,225.572605,197.630969,230.614397,219.733930,217.446545,227.997807,238.396728,228.927936

In [13]:
euc[33].sort_values()[1:6].index.values

array([3535,  264, 3317, 2503, 3305])

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [14]:
prod = pd.DataFrame(prod).reset_index()

In [15]:
prods_33 = prod[(prod['CustomerID']==3535)|(prod['CustomerID']==264)|(prod['CustomerID']==3317)|
     (prod['CustomerID']==2503)|(prod['CustomerID']==3305)].groupby(['CustomerID', 'ProductID']).sum()

In [16]:
list(prods_33.reset_index().groupby('ProductID').sum().sort_values('Quantity', ascending=False).head().index.values)

[382, 319, 269, 187, 402]

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [17]:
prods_33.reset_index().drop('CustomerID', axis=1).groupby('ProductID').sum().sort_values('Quantity', ascending=False).head()

           Quantity
ProductID
382               3
319               3
269               3
187               3
402               3

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [18]:
prods_bought_33 = list(prod.groupby(['CustomerID', 'ProductID']).sum().loc[33].reset_index()['ProductID'])

In [19]:
nums = list(prods_33.reset_index().drop('CustomerID', axis=1).groupby('ProductID').sum().sort_values('Quantity', ascending=False).head().reset_index()['ProductID'])

In [20]:
recommendations = [x for x in nums if x not in prods_bought_33]

In [21]:
recommendations

[382, 269, 402]

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [33]:
l = [list((euc[x].sort_values()[1:6].index.values)) for x in list(euc.columns)]
prods = [list((pd.concat([prod[prod['CustomerID']==i] for i in x], 
                         axis = 0, ignore_index = True)).reset_index().drop('CustomerID', axis=1)
              .groupby('ProductID').sum().sort_values('Quantity', ascending=False).head()
              .reset_index()['ProductID']) for x in l]
recommendations = []
for i in range(len(prods)):
    recommendations.append([y for y in prods[i] if y not in list(prod.groupby(['CustomerID', 'ProductID']).sum().loc[euc.columns[i]].reset_index()['ProductID'])])

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [34]:
Recommendations_df = pd.DataFrame(recommendations, index = list(euc.columns))

Recommendations_df

           0      1      2      3      4
33     382.0  269.0  402.0    NaN    NaN
200    382.0   50.0  253.0  202.0    NaN
264    263.0  423.0  387.0  372.0  193.0
356    193.0  402.0   61.0    NaN    NaN
412    393.0    4.0  386.0  444.0    NaN
464    402.0  187.0   72.0    NaN    NaN
477    193.0  393.0  386.0  444.0    NaN
639    442.0  303.0  192.0  179.0   51.0
649     83.0  155.0   72.0  402.0    NaN
669    193.0  187.0  269.0  442.0    NaN
694     72.0  167.0   77.0   68.0   61.0
756    193.0  245.0  199.0    NaN    NaN
883    130.0  119.0  167.0    NaN    NaN
891    172.0  382.0  303.0  145.0    NaN
1008   151.0  263.0   83.0  382.0    NaN
1034   382.0  159.0  340.0    NaN    NaN
1066   402.0   72.0   57.0  382.0  125.0
1072   402.0  129.0  318.0  117.0   72.0
1336   382.0  192.0   51.0   60.0    NaN
1428   117.0  444.0  190.0    NaN    NaN
1435   323.0   72.0  145.0  423.0  167.0
1534   269.0  187.0  121.0  382.0    NaN
1577   263.0  402.0  167.0    NaN    NaN
1594   401.0  382.0    NaN    NaN    NaN
1754   192.0  303.0  386.0  179.0   72.0
1839   155.0   72.0  402.0  117.0    NaN
1920    61.0  269.0  130.0   13.0  145.0
2187    93.0   57.0  279.0    NaN    NaN
2329   167.0   68.0  402.0  373.0    NaN
2503   222.0  187.0   36.0  420.0  185.0
...      ...    ...    ...    ...    ...
95314  221.0  250.0    NaN    NaN    NaN
95372  338.0   65.0    NaN    NaN    NaN
95819  321.0  131.0    NaN    NaN    NaN
96024   24.0   39.0    NaN    NaN    NaN
96088  295.0  201.0    NaN    NaN    NaN
96272    NaN    NaN    NaN    NaN    NaN
96522  396.0  299.0    NaN    NaN    NaN
96524  251.0  416.0    NaN    NaN    NaN
96560  307.0    NaN    NaN    NaN    NaN
96615  132.0    NaN    NaN    NaN    NaN
96666  296.0  409.0  235.0  264.0    NaN
96684  155.0    NaN    NaN    NaN    NaN
97029  168.0  202.0  193.0    NaN    NaN
97052  396.0  408.0   40.0    NaN    NaN
97063   95.0    NaN    NaN    NaN    NaN
97093  281.0  256.0    NaN    NaN    NaN
97201  330.0    NaN    NaN    NaN    NaN
97282  117.0  367.0  427.0    NaN    NaN
97324  310.0  426.0   36.0    NaN    NaN
97495  194.0    NaN    NaN    NaN    NaN
97697   71.0    NaN    NaN    NaN    NaN
97753  309.0    NaN    NaN    NaN    NaN
97769  100.0   77.0    NaN    NaN    NaN
97793  325.0  410.0  413.0    NaN    NaN
97900  144.0  394.0  234.0    NaN    NaN
97928  101.0  210.0    NaN    NaN    NaN
98069  409.0  227.0   95.0    NaN    NaN
98159   18.0    NaN    NaN    NaN    NaN
98185  178.0    NaN    NaN    NaN    NaN
98200   33.0  172.0  239.0    NaN    NaN

[1000 rows x 5 columns]

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.